@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  background-image: url("../src/img/mesh.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.App {
  padding: 20px;
  border-radius: 15px;
  width: 800px;
  margin: 100px auto;
  box-shadow: inset -12px -8px 40px #ff000020;
  border: solid 0.01px #fff;
}

.pii {
  text-align: center;
}

.pii-items {
  list-style: none;
  font-size: 20px;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
