@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  background-image: url("../src/img/mesh.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.App {
  padding: 20px;
  border-top-left-radius: 75px;
  border-bottom-right-radius: 75px;
  width: 800px;
  margin: 100px auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  /* background-color: rgba(0, 0, 0, 0.6); */
  background: linear-gradient(
    to right,
    rgba(156, 38, 76, 0.3),
    rgba(29, 38, 113, 0.4)
  );
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
  /* border: dashed 0.01px #fff; */
}

.pii {
  text-align: center;
}

.pii-items {
  list-style: none;
  font-size: 20px;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
